<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block header %}
            <div class="container my-16 px-4 mx-auto">
                <h2 class="text-3xl font-bold mb-12 flex justify-center">The New Social Network <u class="text-blue-600"> LearnBook</u></h2>
                <div class="flex gap-4 justify-around p-8 bg-black text-white mt-6 mb-6">
                    <a href="{{ path('app_home') }}">Accueil</a>
                    <a href="#">Membres</a>
                    {% if app.user %}
                    <span>{{ app.user.name }}</span>
                    <a href="{{ path('app_logout') }}">Déconnexion</a>
                    {% else %}
                    <a href="#">Connexion</a>
                    <a href="{{ path('app_register') }}">Inscription</a>
                    {% endif %}
                </div>
            </div>
        {% endblock %}

        {% block body %}{% endblock %}
{# 
        {% block footer %}
        <div class="flex justify-center items-end">Tous droits réservés - 2023</div>
        {% endblock %} #}
    </body>
</html>
